@model List<ApplicationUser>

<div id="search" class="search_section">
    <h2>Search</h2>
    <form id="searchForm" method="get" asp-action="SearchUsers" asp-controller="Home">
        <input type="text" placeholder="Search" id="NameSearch" name="Name">
    </form>
    <div class="find">
        <div class="desc"></div>
        <div class="account" style="max-height: 300px; overflow-y: auto;" id="searchResults">
            @if (ViewBag.Users != null)
            {
                @foreach (ApplicationUser relationship in ViewBag.Users)
                {
                    <div class="cart">
                        <div>
                            <div class="img">
                                @*<img src="/images/@relationship.ProfilePicture.Name" alt="">*@
                            </div>
                            <div class="info follower-info">
                                <a href="/FriendsProfile/Index/@relationship.Id" class="name" style="color:black;text-decoration:none">@relationship.UserName</a>
                                <input style="visibility:hidden" value="@relationship.Id" class="GetID" />
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No data available.</p> @* Handle case where Model is null *@
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchForm = document.getElementById("searchForm");
        var searchResults = document.getElementById("searchResults");

        searchForm.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting normally

            var searchTerm = document.getElementById("NameSearch").value;

            fetch("/Home/SearchUsers?Name=" + searchTerm)
                .then(response => response.text())
                .then(data => {
                    searchResults.innerHTML = data; // Update the search results section
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
