@using Instagram_Clone.ViewModels
@model ProfileUserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Followers & Following List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="tryfollow.css">
</head>
<body>
    <form class="form-inline" id="searchForm" method="get" asp-action="SearchFollowee" asp-controller="FriendsProfile" asp-route-Id="@Model.Id">
        <input class="form-control me-2" placeholder="Search..." id="NameSearch" name="Name" type="text">
        <input type="submit" class="btn btn-primary btn-sm mt-1" value="Search">
    </form>
    <div class="container mt-5" ">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6">
    @*  @if (ViewBag.searchFollowees == null)
                { *@
    @foreach (var followee in Model.Following)
    {
                    <div class="p-3 bg-white text-center">

                        <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                            <img class="rounded-circle" src="/images/@followee.Followee.ProfilePicture.Name" width="55">
                            <div class="d-flex flex-column align-items-start ml-2"><a class="font-weight-bold" href="/FriendsProfile/index/@followee.FolloweeId">@followee.Followee.UserName</a><span class="followers"><span style="margin:2px">@followee.Followee.FirstName</span><span style="margin:2px">@followee.Followee.LastName</span></span></div>
                            <div class="d-flex flex-row align-items-center">
                                @* <div class="d-flex flex-row align-items-center mt-2"><button class="btn btn-primary btn-sm" type="button">Remove</button></div> *@
                            </div>
                        </div>
                    </div>
    }
   
                <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</body>
</html>



