<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head section with necessary meta tags, title, and CSS links -->
</head>
<body>
    <div id="notification" class="notification_section">
        <h2>Notifications</h2>
        <div class="notifications">
            <!-- Notifications will be displayed here dynamically -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="/js/ConnectHub.js"></script>
    <script>
        // Establish a connection to the SignalR hub
        connection.start().then(function () {
            console.log("SignalR Connected");

            connection.on("ReceiveFollowNotification", function (userName) {
                // Handle incoming follow notifications here
                console.log("Received follow notification:", userName);
                // You can update the UI or perform any other actions based on the received notification
            });
        }).catch(function (error) {
            console.error("Error connecting to SignalR:", error);
        });
    </script>
</body>
</html>
