

@* <form asp-action="ShowAll" asp-controller="Follow"> *@

    <div class="general_info">
        <p><span>1</span> post</p>
        <p><span>177</span> followers</p>
        <p><span>137</span> following</p>
    </div>
@* </form> *@
