@using Instagram_Clone.ViewModels
@using Instagram_Clone.Authentication
@model ProfileUserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Followers & Following List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="tryfollow.css">
</head>
<body>
    <form class="form-inline" id="searchForm" method="get" asp-action="ShowFollowers" asp-controller="Follow">
        <input class="form-control me-2" placeholder="Search..." id="NameSearch" name="Name" type="text">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    @* <form method="get" action="/Follow/ShowFollowers" id="searchForm">
    <input type="text" placeholder="Search" id="searchInput" name="Name">
    </form> *@
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6" id="searchResults">
                @foreach (var follower in Model.Followers)
                {
                    <div class="p-3 bg-white text-center">
                        <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                            <img class="rounded-circle" src="/images/@follower.Follower.ProfilePicture.Name" width="55">
                            <div class="d-flex flex-column align-items-start ml-2">
                                <a class="font-weight-bold" href="/FriendsProfile/index/@follower.FollowerId">@follower.Follower.UserName</a>
                                <span class="followers">
                                    <span style="margin:2px">follower.Id @follower.Id</span>
                                    <span style="margin:2px">follower.Follower.Id @follower.Follower.Id</span>
                                    <span style="margin:2px">follower.FolloweeId @follower.FolloweeId</span>
                                </span>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div class="d-flex flex-row align-items-center mt-2">
                                    <a href="/Follow/RemoveFollower/@follower.FollowerId" class="btn btn-primary btn-sm" type="button">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var input = document.getElementById("NameSearch")
            input.addEventListener("input", function () {
                // Fetch data using AJAX based on the search input
                var searchTerm = input.value;
                // Example AJAX call
                // Replace this with your actual AJAX call to fetch followers based on search term
                fetch("/Follow/SearchFollower?Name=" + searchTerm)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("searchResults").innerHTML = data;
                        this.contains.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
</body>
</html>
