@using Instagram_Clone.ViewModels
@model ProfileUserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Followers List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Followers List</h1>
    <li class="nav-item">
        <form class="form-inline" id="searchForm" method="get" asp-action="ShowFollowers" asp-controller="Follow">
            <label for="Name" class="me-2">Name</label>
            <input class="form-control me-2" placeholder="Search..." id="NameSearch" name="Name" type="text">
            <input type="submit" class="btn btn-primary btn-sm mt-1" value="Search">
        </form>
    </li>

    @* @if (Model != null && Model.Followers.Count > 0) *@
    
        <table>
            <tr>

                <th>UseName</th>
            </tr>
            @if (ViewBag.searchFollowers == null)
            {

                @foreach (var follower in Model.Followers)
                {
                    <tr>

                        <td>@follower.Follower.UserName</td>
                    </tr>
                }
            }
            else
            {
                @foreach (var follower in ViewBag.searchFollowers)
                {
                    <tr>

                        <td>@follower.UserName</td>
                    </tr>
                }
            }
        </table>
    
@*     else
    {
        <p>No followers found.</p>
    } *@

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@*     <script>
        $(function () {
            var instructorNames = @Html.Raw(Json.Serialize(ViewBag.searchFollowers.Select(i => i.UserName)));

            $("#NameSearch").autocomplete({
                source: instructorNames,
                minLength: 1 // specify minimum characters before triggering autocomplete
            });
        });
    </script> *@




</body>
</html>

    

