@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "Forget Password";
}

<style>
    .form-group {
        width: 50%;
        margin: 12px auto;
    }

    .button {
        text-align: center;
    }

        .button .btn {
            margin: 12px auto;
        }


    .text-center ul {
        display: flex;
        flex-direction: column;
    }

</style>
<h1 class="text-center">Forget Password</h1>



<form asp-controller="Account" asp-action="SaveForgetPassword" method="post">
    <div asp-validation-summary="All" class="text-center text-danger my-3"></div>

    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="YourFavirotePerson">Your Favorite Person</label>
        <input asp-for="YourFavirotePerson" class="form-control" />
        <span asp-validation-for="YourFavirotePerson" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="button">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Cancel</a>

    </div>

</form>
<partial name="_ValidationScriptsPartial"></partial>