<!-- _OpenChatPartial.cshtml -->
@model Instagram_Clone.Models.Message

<h1>@ViewBag.senderName</h1>

<h4>Messages</h4>
<hr />
<div>
    <ul id="messageContent">
        <!-- Display chat messages here -->
        <li>Start</li>
    </ul>
    <input type="hidden" id="chatId" value="@ViewBag.chatId" />
    <input type="hidden" id="receiverId" value="@ViewBag.receiverId" />
    <input type="text" id="messageInput" placeholder="Type your message..." />
    <button onclick="sendMessage()">Send</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"
        integrity="sha512-7rhBJh1om/W5Ztx7WiYOR9h2wlSaTmPyQMoHFtbT/FVNIA12y6S6I8HY9mrBS1uJ3dSU/R3qaSAXsGYuRjMDxg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- _OpenChatPartial.cshtml -->
<script>
    // Establish a connection to the SignalR hub
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/ChatH")
        .build();

    connection.start().then(function () {
        console.log("SignalR Connected");
    }).catch(function (err) {
        console.error("SignalR Connection Error: " + err);
    });
</script>

<!-- Define the sendMessage function -->
<script>
    // Define the sendMessage function


    // Handle receiving messages from the server

        connection.on("ReceiveMessage", function (messageInput) {
            $("#messageContent").append("<li>" + messageInput + "</li>");
        });

    function sendMessage() {
        var messageInput = $("#messageInput").val();
        var receiverId = $("#receiverId").val();
        var chatId = $("#chatId").val();

        // Send the message to the server via SignalR
        connection.invoke("SendMessage", messageInput, receiverId, chatId)
            .catch(function (error) {
                console.error("Error sending message:", error);
            });

        // Clear the message input field after sending
        $("#messageInput").val("");
    }


</script>
