@model List<Chat>

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <!-- Include the SignalR library -->
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script> *@
</head>
<body>
    <h1 style="margin-left:500px">Chats</h1>

    <div id="messageContainer" style="margin-left:500px">
        @foreach (var chat in Model)
        {
            <div>
                <strong>@chat.Sender.UserName</strong>
                <span>@chat.messages</span>
            </div>
        }
    </div>



@*     <script>
        // Establish a connection to the SignalR hub
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat/index")
            .build();

        connection.start().then(function () {
            console.log("SignalR Connected");
        }).catch(function (err) {
            console.error("SignalR Connection Error: " + err);
        });

        // Function to send a message
        function sendMessage() {
            var messageInput = document.getElementById("messageInput").value;
            var receiverId = @Model[0].RecieverId;

            connection.invoke("SendMessage", messageInput, receiverId)
                .catch(function (err) {
                    console.error("Error sending message: " + err);
                });
        }

        // Receive message from the server
        connection.on("ReceiveMessage", function (message) {
            // Handle received message
            console.log("Received message:", message);
        });
    </script> *@
</body>
</html>
