@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Create model-->



<div class="modal fade" id="create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title w-100 fs-5 d-flex align-items-end justify-content-between"
                    id="exampleModalLabel">
                    <span class="title_create">Create new post</span>
                    <button class="next_btn_post btn_link"></button>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="up_load" src="/images/upload.png" alt="upload">
                <p>Drag photos and videos here</p>
                <button class="btn btn-primary btn_upload">
                    select from your computer
                    <form id="upload-form">
                        <input class="input_select" type="file" id="image-upload" name="image-upload">
                    </form>
                </button>
                <div id="image-container" class="hide_img">
                </div>
                <div id="image_description" class="hide_img">
                    <div class="img_p"></div>
                    <div class="description">
                        <div class="cart">
                            <div>
                                <div class="img">
                                    <img src="/images/profile_img.jpg">
                                </div>
                                <div class="info">
                                    <p class="name">Zineb_essoussi</p>
                                </div>
                            </div>
                        </div>
                        <form>
                            <textarea type="text" id="emoji_create" placeholder="write your email"></textarea>
                        </form>
                    </div>
                </div>
                <div class="post_published hide_img">
                    <img src="/images/uploaded_post.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

    </div>